<h3>Product Form</h3>
<form class="product-form" #form="ngForm">
  <mat-form-field class="product-full-width">
    <input matInput placeholder="Name" name="name" required [(ngModel)]="product.name">
  </mat-form-field>

  <mat-form-field class="product-full-width">
    <input matInput placeholder="Description" name="description" required [(ngModel)]="product.description">
  </mat-form-field>

  <mat-form-field class="product-full-width">
    <input matInput placeholder="Price" name="price" required [(ngModel)]="product.price">
  </mat-form-field>

  <mat-form-field class="product-full-width">
    <input matInput placeholder="Category" name="category" required [(ngModel)]="product.category">
  </mat-form-field>

  <mat-form-field class="product-full-width">
    <input matInput placeholder="Availability" name="isAvailable" required [(ngModel)]="product.isAvailable">
  </mat-form-field>

  <mat-form-field class="product-full-width">
    <input matInput placeholder="Brand" name="brand" required [(ngModel)]="product.brand">
  </mat-form-field>

  <mat-form-field class="product-full-width">
    <input matInput placeholder="Image Url" name="image" required [(ngModel)]="product.image">
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="saveProduct($event)">Save</button><button mat-raised-button (click)="goBack($event)">Back</button>
</form>
